{
  "name": "${name}",
  "numberOfSe": "${numberOfSe}",
  "ha_mode": "${ha_mode}",
  "min_scaleout_per_vs": "${min_scaleout_per_vs}",
  "disk_per_se": "${disk_per_se}",
  "vcpus_per_se": "${vcpus_per_se}",
  "cpu_reserve": "${cpu_reserve}",
  "memory_per_se": "${memory_per_se}",
  "mem_reserve": "${mem_reserve}",
  "cloud_ref": "${cloud_ref}",
  "extra_shared_config_memory": "${extra_shared_config_memory}",
  "networks": ["${networks}"]
}